.event-card {
    display: flex;
    flex-direction: column;
    border-color: #16537a;
    border-width: 2px;
}

.ant-card-head-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.ant-card-body {
    font-size: 16px;
}

.event-button {
    float: right;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .event-button:hover {
    background-color: #0069d9;
  }