.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  background-color: #007bff;
  border: none;
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #007bff;
}
.normal-link {
  text-decoration: none;
  color: black;
}
