.App {
  font-family: sans-serif;
  text-align: center;
}
.box {
  display: grid;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
  padding-top: 6px;
  border-color: green;
}
.box:nth-child(odd) {
  grid-row: 1;
}

.box:nth-child(even) {
  grid-row: 2;
}

@media screen and (max-width: 768px) {
  .box-container {
    grid-template-columns: 1fr;
  }

  .box:nth-child(odd),
  .box:nth-child(even) {
    grid-row: auto;
  }
}

.box-image {
  margin-right: 20px;
}

.box-image img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
}

.box-content {
  flex: 1;
}

.box-content h2 {
  margin-top: 0;
}

.box-content p {
  margin-bottom: 10px;
  text-align: center;
}

.box-li {
  list-style-type:none;
  text-align: left;
}

.box-ul {
  text-align: center;
  margin-left: 35%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
/*
NAVBAR CSS
*/

.nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.nav-nosaukums {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.nav-saites {
  margin-left: auto;
}

.nav-saites ul {
  display: flex;
  padding: 0;
}
.nav-saites li {
  list-style-type: none;
  margin: 0 1rem;
}
.name {
  width: 50%;
  margin-left: 45px;
}
.e-mail {
  width: 50%;
  margin-left: 45px;
  margin-top: 15px;
}
.text-area {
  width: 50%;
  margin-left: 45px;
  margin-top: 15px;
  padding: 15px;
}
.contact {
  margin-left: 45px;
}
.btn-btn-primary {
  margin-left: 45px;
  width: 50%;
  margin-top: 15px;
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
}
.col-lg-6 {
  text-align: center;
}
.event-rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.event-details {
  flex: 1;
}

.event-info {
  flex: 1;
  text-align: right;
}

.event-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.group-name {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.location,
.time,
.date,
.price {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #ff6600;
}
.event-card {
  border-radius: 20px;
  margin: 20px;
  padding-top: 6px;
  border-color: green;
}
